# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Andrea\Desktop\Andrea\Università\II Anno\Programmazione a Oggetti\Progetti\Tutorati\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
